.container-down-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #780E0E;
    padding: 40px 0;

}

.container-down-header h1 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
    font-weight: lighter;
}

.container-down-header span {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {

    .container-down-header h1 {
        font-size: 30px;

    }

}