.lista-atendimentoRetirar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% auto;
    max-width: 100%;
    width: 100%;
}

.empty-row {
    height: 47px;
    /* Ajuste a altura das linhas vazias */
}

.array-vazio {
    background-color: #AC0606;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}

table {
    width: 80% !important;
    max-height: 100% !important;
    height: 300px !important;
    margin: 0px auto;
    background-color: #AC0606;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    height: 15%;
}

tbody {
    height: 70%;
    max-height: 400px;
    background-color: #fff;
}

.table-row-atendimentoRetirar {
    background-color: #AC0606 !important;
    color: #fff !important;
}

tfoot {
    height: 15%;
}

td,
th {
    text-align: center !important;
    padding: 15px;
    border: 1px solid #ddd;
}

tr:nth-child(even) td {
    background-color: #cfdfe1;
}

.btn-atendimentoRetirar {
    background-color: #AC0606 !important;
    color: #fff !important;
    margin-top: 30px !important;
    padding: 25px 50px !important;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-atendimentoRetirar:hover {
    background-color: #AC0606 !important;
}


/* Estilo para versão mobile */
@media (max-width: 768px) {
    .mobile-table-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px;
        background-color: #AC0606;
        border-radius: 9px;
    }

    .mobile-table-row {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .mobile-table-cell {
        margin-bottom: 10px;
        font-size: 14px;
        color: #333;
    }

    .mobile-table-cell strong {
        color: #AC0606;
    }

    .mobile-table-actions {
        display: flex;
        justify-content: space-between;
    }

    .btn-atendimentoRetirar {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }

    .table-row-atendimentoRetirar {
        background-color: #AC0606 !important;
        color: #fff !important;
    }

    .nav-pag {
        background-color: #fff !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: #AC0606 !important;
    }



}